/IAutoTyper/bin/Debug/IAutoTyper.exe
/IAutoTyper/bin/Debug/IAutoTyper.exe.config
/IAutoTyper/bin/Debug/IAutoTyper.pdb
/IAutoTyper/bin/Debug/IAutoTyper.vshost.exe
/IAutoTyper/bin/Debug/IAutoTyper.vshost.exe.config
/IAutoTyper/bin/Debug/IAutoTyper.vshost.exe.manifest
/IAutoTyper/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/IAutoTyper/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/IAutoTyper/obj/x86/Debug/IAutoTyper.csproj.FileListAbsolute.txt
/IAutoTyper/obj/x86/Debug/IAutoTyper.csproj.GenerateResource.Cache
/IAutoTyper/obj/x86/Debug/IAutoTyper.exe
/IAutoTyper/obj/x86/Debug/IAutoTyper.pdb
/IAutoTyper/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/IAutoTyper/obj/x86/Debug/WindowsFormsApplication1.Form1.resources
/IAutoTyper/obj/x86/Debug/WindowsFormsApplication1.Properties.Resources.resources
/IAutoTyper/obj/x86/Debug/WindowsFormsApplication1.UserControlKeyBoard.resources
